%tr{:class=>project.user_id, :id => "project#{project.id}"}
  -@columns.each do |pc|
    %td{:class=>pc}
      - if pc == 'project'
        = best_in_place(project, :project)
      - elsif pc == 'target_completion'
        = best_in_place(project, :target_completion, :type => :date)
      - elsif pc == 'status'
        = best_in_place(project, :status, :type => :select, :collection => Project.statuses.map{|x|[x,x]})
      - elsif pc == 'notes'
        = best_in_place(project, :notes, :type => :textarea)#, :ok_button => 'Save', :cancel_button => 'Cancel')
      - else
        = project[pc] || "-N/A-"
  %td.right
    -if current_user && current_user.admin?
      =link_to "Delete", project_url(project)+'.json', :remote=>true, :method=>'delete', :confirm => "Really delete <#{project.project}>?"
